<ion-app>
 
  <ion-content style="overflow-x: hidden">
    <ion-row style="height: 100%">
     
      <ion-col
        size="12"
        style="
          margin: 0px;
          height: 100%;
          color: black;
          background-color: white;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        "
      >
        <div class="innerbox">
          <ion-row
            class="subheader"
            style="align-items: center; margin-bottom: 10px"
          >

          <ion-col size="5.5" style="background-color: white; border: 0%; margin: 0%">
          
          </ion-col>
            <ion-col
              size="3.5"
              style="
                background-color: white;
                border-radius: 0%;
                margin: 0%;
                display: flex;
               
              "
            >
              <span style="color: rgb(63, 61, 61)">
                <b>Project: {{ projectName }}</b></span
              ></ion-col
            >
            <ion-col
              size="3"
              style="
                background-color: white;
                border-radius: 0%;
                margin: 0%;
                display: flex;
                justify-content: end;
              "
            >
              <button routerLink="/estimation-tool/homepage" class="button2">
                Back
              </button></ion-col
            >
          </ion-row>
          <ion-row
            style="
              display: flex;
              height: 40px;
              margin-top: 10px;
              margin-left: 10px;
              margin-bottom: 6px;
            "
          >
            <ion-col
              class="show_count d-flex"
              size="5"
              style="
                background-color: white;
                border-radius: 0%;
                margin: 0%;
                display: flex;
                justify-content: start;
                padding-left: 19px;
                color: black;
              "
            >
              <p style="font-size: small; color: black">Show</p>
              <select
                (change)="optionSelected()"
                style="
                  width: 70px;
                  height: 20px;
                  color: black;
                  margin-left: 3px;
                  font-size: 13px;
                "
                [(ngModel)]="pageFilterDefault"
              >
                <option *ngFor="let item of pageFilter" [value]="item.code">
                  {{ item.name }}
                </option>
              </select>
              <span>
                <p style="margin-left: 5px; font-size: 13px; color: black">
                  entries
                </p>
              </span>
            </ion-col>

            <ion-col size="4" class="sprint-date-col">
          <p *ngIf="projectStartDate != null && projectEndDate != null" style="font-size: small; color: black" class="sprint-date" >  Start & End Date: [ {{projectStartDate | date:"mediumDate"}} To {{projectEndDate | date:"mediumDate"}} ] </p>
         
        </ion-col>
            <ion-col
              size="3"
              class="SearchBar"
              style="
                background-color: white;
                border-radius: 0%;
                margin: 0%;
                display: flex;
                justify-content: end;
                color: black;
              "
              ><p
                style="
                  font-size: small;
                  text-align: end;
                  color: black;
                  padding-top: 2px;
                  margin-right: 3px;
                "
              >
                Search:
              </p>
              <input
                style="
                  width: 150px;
                  height: 23px;
                  border: 2px solid rgba(26, 74, 96, 0.8999999762);
                  border-radius: 5px;
                  font-size: 12px;
                "
                [(ngModel)]="searchText"
                type="text"
                placeholder="sprint id, sprint name"
            /></ion-col>
          </ion-row>
          <span
            style="
              display: flex;
              justify-content: end;
              margin-right: 10px;

              padding-right: 24px;
            "
            ><button class="syncbtn" (click)="syncData()">
              Sync
              <ion-icon
                style="margin-left: 5px; margin-bottom: -1.7px"
                name="sync-outline"
              ></ion-icon></button
          ></span>

          <div class="contentlist">
            <ion-grid [fixed]="true">
              <ion-row class="sprintlist-row">
                <ng-container
                  *ngFor="
                    let item of (
                      sprintsList
                      | filter : searchText
                      | paginate
                        : { itemsPerPage: pageFilterDefault, currentPage: p }
                    ).reverse();
                    let i = index
                  "
                >
                  <ion-col
                    (click)="getTask(item)"
                    class="sprintlist-col"
                    size="3.7"
                  >
                    <ion-card
                      [ngClass]="{
                        'gray-bg': i % 6 < 3,
                        'white-bg': i % 6 >= 3
                      }"
                      class="sprintlist-card"
                    >
                      <ion-card-content class="card-content">{{
                        item.sprintName
                      }} 
                      <!-- (mouseout)="closePopup()" -->
                   <mat-icon *ngIf="item.sprintId >0" (mouseover)="openGraphPopup($event, item)"   [ngClass]="getIconColor(item.sumOfOriginalEstimate, item.sumOfAiEstimate)">
                    {{ getIconColor(item.sumOfOriginalEstimate, item.sumOfAiEstimate) === 'error' ? 'error' :
                       getIconColor(item.sumOfOriginalEstimate, item.sumOfAiEstimate) === 'warning' ? 'warning' :
                       'check_circle' }}
                  </mat-icon>


                     
 </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ng-container>
              </ion-row>
              <div
                style="margin-left: 35%; margin-top: 10%"
                *ngIf="this.sprintsList.length === 0"
              >
                <h2>there are no sprint</h2>
              </div>
            </ion-grid>
          </div>
          <pagination-controls
            style="font-size: small"
            (pageChange)="p = $event"
          ></pagination-controls>
        </div>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>
