ion-header {
  background-color: rgba(26, 74, 96, 0.9);
  height: 7%;
  // color: white;
  // display: flex;
}
ion-sub-header {
  background-color: rgba(26, 74, 96, 0.9);
}
.header-tabs {
  display: flex;
  align-items: center;
  gap: 10px;
}
.searchbar-input {
  line-height: 0px;
}

.menu {
  color: white;
  font-size: x-large;
}
.homeicon {
  color: white;
  font-size: x-large;
  margin-left: 10px;
  margin-top: -5px;
}
.menubutton {
  margin-right: -5px;

  margin-top: 2%;
}
.button2 {
  margin-top: -1.5%;
  margin-left: 20px;
  background-color: white;
  color: rgba(26, 74, 96, 0.9) !important;
  border: 2px solid rgba(26, 74, 96, 0.8999999761581421);
  border-radius: 5px;
  width: 100px;
  height: 30px; 
  font-size: 13px;
}
.syncbtn {
  text-align: center;
  margin-top: 0px;
  margin-left: 7px;
  background-color: white;
  color: rgba(26, 74, 96, 0.9) !important;
  border: 2px solid rgba(26, 74, 96, 0.8999999761581421);
  border-radius: 5px;
  width: 80px;
  height: 25px;
  font-size: 13px; 
}

// ion-menu{
//   --width: 200px;
// }
.maincontent {
  width: 90%;
  height: 100%;
}
.popupheader {
  background-color: rgba(26, 74, 96, 0.9);
  height: 7%;
  color: white;
  display: flex;
}

ion-footer {
  background-color: rgba(26, 74, 96, 0.9);
  //height: 7%;
  color: white;
  display: flex;
}
.split-container {
  display: flex;
  flex-direction: row;
  height: 100%; 
  border-radius: 0px;
  //width: 100%;
}

.top-part {
  flex: 0.3;
  text-align: center;
  border-right: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.right-part {
  flex: 1.6;
  align-items: center;
}
.innerbox {
  width: 99%;
  height: 99%;
  margin-left: 5px;
  margin-top: 3px;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.3);
}
.contentlist {
  width: 100%;
  height: 360px;
  overflow-y: auto;
 
}
.dropbtn {
  // background-color: #3498DB;
  //color: white;
  //padding: 16px;
  margin-top: 2%;
  //font-size: 16px;
  margin-right: 22px;
  border: none;
  cursor: pointer;
  background-color: rgba(26, 74, 96, 0.9);
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.profileicon {
  color: white;
  margin-right: 7px;
}
ion-col {
  background-color: #8f9594;
  border: solid 1px #fff;
  color: #fff;
  --text-align: center;
  margin: 10px;
}
.bodycontent {
  width: 30%;
  cursor: pointer;

  //cursor: pointer;
  //overflow-y: auto;
}
.subheader {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  height: 8%;
}
pagination-controls {
  position: absolute;
  right: 10px;
}
.search-icon {
  position: relative;
  float: left;
  width: 75px;
  height: 75px;
  top: -62px;
  //right: -45px;
  margin-left: -11px;
}
.button2 {
  margin-top: 0.2%;
  background-color: white;
  color: black;
  border: 2px solid rgba(26, 74, 96, 0.9);
  border-radius: 5px;
  width: 70px;
  height: 25px;
}

.updatebtn {
  margin-top: 0px;
  margin-left: 10px;
  background-color: white;
  color: rgba(26, 74, 96, 0.9);
  border: 2px solid rgba(26, 74, 96, 0.9);
  border-radius: 5px;
  width: 200px;
  height: 25px;
  font-size: 13px;
}
.aibtn{
  margin-top: 0px;
  margin-left: 10px;
  background-color: white;
  color: rgba(26, 74, 96, 0.9);
  border: 2px solid rgba(26, 74, 96, 0.9);
  border-radius: 5px;
  width: 150px;
  height: 25px;
  font-size: 13px;
}

table {
  font-family: arial;
  border-collapse: collapse;

  table-layout: fixed;

  width: 99.7%;
}

td,
th {
  border: 1px solid #cfcdcd;
  text-align: left;
  padding: 8px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}
.full-width-input {
  width: 100%;
  padding: -8px;
  box-sizing: border-box;
}
.tableheader {
  background-color: rgba(26, 74, 96, 0.9);
  color: white;
  font-size: medium;
  text-align: center;
  margin-top: 1px;
}
.tablesubheader {
  background-color: rgba(26, 74, 96, 0.9);
  color: white;
  vertical-align: middle;
  text-align: center;
  padding: 3px;
}

.error {
  color: red;
}

.warning {
  color:rgb(255, 119, 0);
}

.success {
  color: green;
}
.show_count select {
  color: black;
  border: 2px solid rgba(26, 74, 96, 0.8999999762);
  border-radius: 5px;
  width: 145px;
  height: 30px;
  font-size: 12px;
  
}

.selector-col{
  background-color: white;
  border-radius: 0%;
  margin: 0%;
  display: flex;
  padding-left: 19px;
  color: black;
}
.show-text{
 font-size: small; 
 color: black
}
.drop-select{
 font-size: small; 
 color: black;
}
.entries{
  margin-left: 5px; 
  font-size: 13px; 
  color: black;
}
.input-select{
 
 
  color: black;
  margin-left: 3px;
  font-size: 13px;

}
.show_count  {

 
  // width: 70px;
  // height: 20px;

  background-color: white;
  border-radius: 0%;
  margin: 0%;
  display: flex;
  justify-content: start;
  padding-left: 19px;
  color: black;

}

.fetchai-btn{
  text-align: center;
 float: right;
  background-color: white;
  color: rgba(26, 74, 96, 0.9) ;
  border: 1px solid rgba(26, 74, 96, 0.8999999761581421);
  border-radius: 3px;
  width: 40px;
  height: 20px;
  font-size: 10px; 
}
.fetchai-btn:hover {
    background-color: rgba(26, 74, 96, 0.8999999761581421);
    color: white;
  }




