<ion-app>
  <ion-content style="overflow-x: hidden">
    <ion-row style="height: 100%">
      <ion-col size="12" style="
          margin: 0px;
          height: 100%;
          color: black;
          background-color: white;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        ">
        <div class="innerbox">
          <ion-row class="subheader" style="align-items: center; margin-bottom: 20px">
            <ion-col  size="6" style="background-color: white; border: 0%; margin: 0% ">
              <button (click)="updateEstimatesInJira()" class="updatebtn">
                Update Ai Estimates In Jira
                <ion-icon name="checkmark-outline" style="font-size: medium; margin-bottom: -2px"></ion-icon>
              </button>
              <button *ngIf="clientId =='0000'" (click)="fetchBulkAiResponse()" class="aibtn">
               Fetch AI Estimate
              </button>

              <span><button class="syncbtn" (click)="syncData()">
                  Sync
                  <ion-icon style="margin-left: 5px; margin-bottom: -1.7px"
                    name="sync-outline"></ion-icon></button></span>
            </ion-col>
            <ion-col size="2" style="background-color: white; border: 0%; margin: 0%">
              <span style="
                  background-color: white;
                  border: 0%;
                  margin: 0%;
                  color: rgb(63, 61, 61);
                ">
                <b>Sprint: {{sprintName}}</b></span></ion-col>
            <ion-col size="4" style="
                background-color: white;
                border: 0%;
                margin: 0%;
                display: flex;
                justify-content: end;
              ">
              <button routerLink="/estimation-tool/homepage/sprintdashboard" class="button2" (click)="goBack()">
                Back
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col
              class="show_count d-flex"
              size="4.7"
             
            >
              <p class="show-text">Show</p>
              <select
                class="input-select"
               style=" width: 70px;
               height: 20px;"
                [(ngModel)]="pageFilterDefault"
              >
                <option *ngFor="let item of pageFilter" [value]="item.code">
                  {{ item.name }}
                </option>
              </select>
              <span>
                <p class="entries" >
                  entries
                </p>
              </span>
            </ion-col>
            <ion-col size="4.3" style="
            background-color: white;
            border: 0%;
            margin: 0%;
            display: flex;
            justify-content: start;
            color: black;
          ">
          <p *ngIf="sprintStartDate != null && sprintEndDate != null" style="color: black; font-size: small; text-align: left;" > Start & End Date: [ {{sprintStartDate | date:"mediumDate"}} To {{sprintEndDate | date:"mediumDate"}} ]  </p>
         
        </ion-col>
            <ion-col size="3" style="
                background-color: white;
                border: 0%;
                margin: 0%;
                display: flex;
                justify-content: end;
                color: black;
              ">
              <!-- <p style="margin-bottom: 0px; font-size: small; text-align: left;" > Sprint Start & end Date</p> -->
              <p style="
                  font-size: small;
                  text-align: start;
                  color: black;
                  margin-bottom: 0px;
                  padding-top: 2px;
                  margin-right: 3px;
                ">
                Search:
              </p>
              <input style="
                  width: 150px;
                  height: 23px;
                  border: 2px solid rgba(26, 74, 96, 0.8999999762);
                  border-radius: 5px;
                  font-size: 12px;
                " [(ngModel)]="searchText" type="text" placeholder="task id, task name" />
            </ion-col>
          </ion-row>

          <div class="contentlist">
            <ion-grid [fixed]="true">
              <ion-row style="
                  margin-left: 0.5%;
                  height: 100%;
                  overflow-x: auto;
                  white-space: nowrap;
                ">
                <table>
                  <col style="width: 70px" />
                  <col style="width: 100px" />
                  <col style="width: 150px" />
                  <colgroup span="4"></colgroup>
                  <col />
                  <tr style="
                      background-color: rgba(26, 74, 96, 0.9);
                      height: 20px;
                      padding: 0px;
                    " class="tableheader">
                    <th rowspan="2" style="
                        vertical-align: middle;
                        text-align: center;
                        word-wrap: break-word;
                       
                      ">
                      ID
                    </th>
                    <th (click)="sortData('summary')" rowspan="2" style="
                        vertical-align: middle;
                        text-align: center;
                        word-wrap: break-word;
                      ">
                      {{ isAscending ? "Title ▲" : "Title ▼" }}
                    </th>
                    <th rowspan="2" style="
                        vertical-align: middle;
                        text-align: center;
                        word-wrap: break-word;
                      ">
                      Description
                    </th>
                    <th rowspan="2" style="
                        width: 80px;
                        vertical-align: middle;
                        text-align: center;
                        word-wrap: break-word;
                      ">
                      Label
                    </th>
                    <th colspan="3" style="
                        horizontal-align: middle;
                        text-align: center;
                        width: 22%;
                        padding: 4px;
                        word-wrap: break-word;
                      ">
                      Estimates
                    </th>
                    <th rowspan="2" style="
                        vertical-align: middle;
                        text-align: center;
                        word-wrap: normal;
                      ">
                      3-Point Estimates
                    </th>
                    <th rowspan="2" style="
                        width: 120px;
                        vertical-align: middle;
                        text-align: center;
                        word-wrap: normal;
                      ">
                      AI Estimates
                    </th>
                    <th rowspan="2" style="
                        width: 120px;
                        vertical-align: middle;
                        text-align: center;
                        word-wrap: normal;
                      ">
                      Actual(HRS)
                    
                    </th>
                    <th rowspan="2" style="
                    width: 50px;
                    vertical-align: middle;
                    text-align: center;
                    word-wrap: normal;
                  ">
                  Info </th>
                  </tr>
                  <tr>
                    <th class="tablesubheader" scope="col">Low</th>
                    <th class="tablesubheader" style="width: 8%" scope="col">
                      Realistic
                    </th>
                    <th class="tablesubheader" scope="col">High</th>
                  </tr>
                  <tr style="cursor: pointer" *ngFor="
                      let item of tableData
                        | tableFilter : searchText
                        | paginate
                          : { itemsPerPage: pageFilterDefault, currentPage: p }
                        | tableShort : 'summary'
                    "  (mouseover)="showContent = true" (mouseout)="showContent = false">
                    <td (click)="openDialog(item)" >{{ item.taskId }}</td>
                    <td (click)="openDialog(item)"  title="{{ item.summary }}">{{ item.summary }}</td>
                    <td (click)="openDialog(item)" title="{{ item.taskDescription }}">
                      {{ item.taskDescription }}
                    </td>
                    <td (click)="openDialog(item)" >{{ item.labels }}</td>
                    <td (click)="openDialog(item)" >{{ item.estimates.low }}</td>
                    <td (click)="openDialog(item)">{{ item.estimates.realistic }}</td>
                    <td (click)="openDialog(item)">{{ item.estimates.high }}</td>
                    <td (click)="openDialog(item)">{{ item.threePointEstimate }}</td>
                    <td>
                      <span>{{ item.aiEstimate }}</span>
                      <button (click)="fetchSingleAiEstimates(item)" class="fetchai-btn" >
                        Fetch
                        </button>
                    </td>
                    <td (click)="openDialog(item)">{{ item.originalEstimate }}</td>
                    <!-- <td (mouseenter)="openGraphPopup($event, item)" (mouseleave)="closePopup()"  > -->
                      <td>
                      <mat-icon [ngClass]="getIconColor(item.originalEstimate, item.aiEstimate)">
                        {{ getIconColor(item.originalEstimate, item.aiEstimate) === 'error' ? 'error' :
                           getIconColor(item.originalEstimate, item.aiEstimate) === 'warning' ? 'warning' :
                           'check_circle' }}
                      </mat-icon>
                    </td>
                  </tr>
                </table>
              </ion-row>
            </ion-grid>
          </div>
          <pagination-controls style="font-size: small" (pageChange)="p = $event"></pagination-controls>
        </div>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>