<ion-app>
  <ion-header>
    <ion-menu-toggle>
      <ion-button class="menubutton" fill="clear"><span class="menu">&#9776;</span></ion-button>
    </ion-menu-toggle>
    <ion-button (click)="landingPage()" fill="clear"><ion-icon class="homeicon"
        name="home-sharp"></ion-icon></ion-button>
    <ion-title>Estimation Tool</ion-title>
    <!-- <ion-button fill="clear">
        <ion-icon class="profileicon" name="person"></ion-icon>
      </ion-button> -->
    <div class="dropdown">
      <ion-buttons>
        <ion-button style="color: white; margin-right: 10px; margin-top: 2%;text-transform: capitalize;"
          (click)="toggleDropdown()" fill="clear">
          <ion-icon style="margin-right: 5px" name="person-circle-outline"></ion-icon>Admin
          <ion-icon style="margin-left: 5px" name="chevron-down-outline"></ion-icon></ion-button>
      </ion-buttons>
      <div class="dropdown-content" [ngClass]="{ show: isDropdownOpen }">
        <a style="cursor: pointer;" (click)="logout()">Logout</a>
      </div>
    </div>
  </ion-header>
  <ion-content style="overflow-x: hidden;">
    <ion-row style="height: 100%;">
      <ion-col size="2"
        style="margin: 0px; background-color: white;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);height: 100%;">
        <ion-row style="
            display: flex;
            justify-content: center;
            margin-top: 10px;
            text-align: left;
          ">
          <ion-col style="background-color: white; color: black">
            <img src="/assets/images/Dashboard.png" alt="Your Image" style="margin-bottom: -6px; margin-right: 10px" />
            Dashboard
          </ion-col>
        </ion-row>
        <!-- <ion-row style="
            display: flex;
            justify-content: center;
            margin-top: -10px;
            text-align: left;
          ">
          <ion-col style="background-color: white; color: black">
            <img src="/assets/images/journals (1).png" alt="Your Image"
              style="margin-bottom: -6px; margin-right: 10px; fill: #a1a1a1" />
            Projects
          </ion-col>
        </ion-row> -->
        <!-- <ion-row style="
            display: flex;
            justify-content: center;
            margin-top: -10px;
            text-align: left;
          ">
          <ion-col style="background-color: white; color: black">
            <img src="/assets/images/Vector.png" alt="Your Image" style="margin-bottom: -6px; margin-right: 10px" />
            User
          </ion-col>
        </ion-row>
        <ion-row style="
            display: flex;
            justify-content: center;
            margin-top: -10px;
            text-align: left;
          ">
          <ion-col style="background-color: white; color: black">
            <img src="/assets/images/Vector (1).png" alt="Your Image" style="margin-bottom: -6px; margin-right: 10px" />
            Report
          </ion-col>
        </ion-row>
        <ion-row style="
            display: flex;
            justify-content: center;
            margin-top: -10px;
            text-align: left;
          ">
          <ion-col style="background-color: white; color: black">
            <img src="/assets/images/Settings.png" alt="Your Image" style="margin-bottom: -6px; margin-right: 10px" />
            Setting
          </ion-col>
        </ion-row> -->
      </ion-col>
      <ion-col size="10"
        style="margin: 0px; height: 100%; color: black; background-color: white;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);">
        <div class="innerbox">
          <ion-row class="subheader" style="align-items: center;">
            <button (click)=" updateEstimatesInJira()" class="updatebtn">Update Ai Estimates In Jira</button>
            <span ><button class="syncbtn">
                Sync
                <ion-icon style="margin-left: 5px; margin-bottom: -1.7px" name="sync-outline"></ion-icon>
              </button></span>
            <span style="margin-left: 15%; color: rgb(63, 61, 61); "> <b>Dashboard</b></span>
            <button style="margin-left: 43%;"  routerLink='/estimation-tool/homepage/sprintdashboard'
              class="button2" (click)="goBack()" >Back</button>
          </ion-row>
          <ion-row  style="height: 35px; margin-top: 5px;">

            <p style="margin-left: 20px;">{{this.sprintName}}</p>
            <p style="
                margin-left: 15px;
                font-size: small;
                text-align: end;
                margin-left: 50%;
                margin-top: 20px;
              ">
              Search:
            </p>

            <ion-searchbar [(ngModel)]="searchText" style="width: 300px"></ion-searchbar>
          </ion-row>


          <div class="contentlist">
            <ion-grid [fixed]="true">
              <ion-row style="
                  margin-left: 0.5%;
                  margin-top: 5px;
                  height: 100%;
                  overflow-x: auto;
                  white-space: nowrap;
                ">
                <!-- <ng-container
                  *ngFor="
                    let item of sprintsList |  filter :searchText | paginate: { itemsPerPage: pageFilterDefault, currentPage: p }  ">
                  <app-dashboard-body class="bodycontent">
                    <div class="card-header">{{ item.name }}</div>
                     Additional card content here 
                  </app-dashboard-body>
                </ng-container> -->
                <table >
                  <col style="width: 80px;">
                  <col style="width: 100px;">
                  <col style="width: 150px;">
                  <colgroup span="4"></colgroup>
                  <col>
                  <tr style="background-color: rgba(26, 74, 96, 0.9); height: 20px; padding: 0px;" class="tableheader">
                    <th rowspan="2" style="vertical-align: middle; text-align:center; word-wrap: break-word;">ID</th>
                    <th (click)="sortData('title')" rowspan="2" style="vertical-align: middle; text-align:center; word-wrap: break-word;">{{ isAscending ? 'Title ▲' : 'Title ▼' }}</th>
                    <th rowspan="2" style="vertical-align: middle; text-align:center; word-wrap: break-word;">Description</th>
                    <th rowspan="2" style=" width: 80px; vertical-align: middle; text-align:center; word-wrap: break-word;">Label</th>
                    <th colspan="3" style="horizontal-align: middle; text-align:center; width: 22%; padding: 4px; word-wrap: break-word;">Estimates</th>
                    <th rowspan="2" style="vertical-align: middle; text-align:center;word-wrap: normal ">3-Point Estimates</th>
                    <th rowspan="2" style=" width: 120px; vertical-align: middle; text-align:center; word-wrap: normal">AI Estimates</th>
                    <th rowspan="2" style="width: 120px;vertical-align: middle; text-align:center;word-wrap:  normal">Actual(HRS)</th>
                  </tr>
                  <tr>
                    <th class="tablesubheader" scope="col">Low</th>
                    <th class="tablesubheader" style="width: 8%;" scope="col">Realistic</th>
                    <th class="tablesubheader" scope="col">High</th>
                  </tr>
                  <tr style="cursor: pointer;" *ngFor="
                  let item of tableData |  tableFilter :searchText | paginate: { itemsPerPage: pageFilterDefault, currentPage: p } | tableShort:'title' "  (click)="openDialog(item)" >
                      <th >{{item.id}}</th>
                      <th> {{item.title}}</th>
                      <th>{{item.description}}</th>
                      <th>{{item.labels}}</th>
                      <th>{{item.lowEstimate}}</th>
                      <th>{{item.realisticEstimate}}</th>
                      <th>{{item.highEstimate}}</th>
                      <th>{{item.threePointEstimate}}</th>
                      <th>{{item.aiEstimate}}</th>
                      <th>{{item.actualHrs}}</th>
                  </tr>
                </table>
              </ion-row>
            </ion-grid>

          </div>
          <pagination-controls style="font-size: small; " (pageChange)="p = $event"></pagination-controls>
        </div>
      </ion-col>
    </ion-row>

  </ion-content>

  <ion-footer>
    <ion-title style="text-align: end; font-size: medium">Copyright Text</ion-title>
  </ion-footer>
</ion-app>