<ion-content style="margin-bottom: 0px;">
  <div class="custom-dialog-header"><span class="header">Import File</span>
    <span class="closebtn">
      <ion-buttons>
        <ion-button mat-button [mat-dialog-close]="true"><span>&#10006;</span></ion-button>
      </ion-buttons>
    </span>
  </div>
  <mat-dialog-content style="padding: 2px;">
    <div class="flex-container">
      <input type="file" #fileUpload (change)="onFileSelected($event)" [ngStyle]="{'display':displayValue}">
      <button  type="file" class="button2" (click)="fileUpload.click()" >Browse</button>
      <button class="button2" style="margin-left: 10px; width: 170px;" (click)="downloadTemplate()">Download Templates</button>
    </div>
    <div class="drag" id="dropArea" (drop)="handleDrop($event)" (dragover)="handleDragOver($event)"
      (dragleave)="handleDragLeave($event)" [class.drag-over]="isDragOver">
      <p>Drag and drop files here</p>
    </div>
    <div class="flex-container" style="display: flex; justify-content: flex-end;">
      <button class="button2" style="width: 35px;" (click)="sendDragedFile()" >Ok</button>
      <button class="button2" style="margin-left: 10px; width: 55px; margin-right: 10px;" (click)="closeDailogbox()" >Cancel</button>
    </div>


  </mat-dialog-content>
</ion-content>