 <ion-content style="margin-bottom: 0px;"><div class="custom-dialog-header"><span class="header">Client</span>
  <span class="closebtn">
    <ion-buttons>
      <ion-button mat-button [mat-dialog-close]="true"><span>&#10006;</span></ion-button>
    </ion-buttons>
  </span>
</div>
<mat-dialog-content style="padding: 2px;">
<div class="flex-container" >
  <button  class="button2">Browse</button>
  <button  class="button2" style="margin-left: 10px; width: 150px;">Download Templates</button>
</div>
<div class="drag" id="dropArea">
  <p>Drag and drop files here</p>
</div>
<div class="flex-container" style="display: flex; justify-content: flex-end;">
  <button class="button2" style="width: 35px;">Ok</button>
  <button class="button2" style="margin-left: 10px; width: 55px;margin-right: 10px;  ">Cancel</button>
</div>


</mat-dialog-content>
</ion-content> 