.custom-dialog-header {
  
    color: white;
    background-color: rgba(26, 74, 96, 0.9);
 
    height: 30px;
    margin-top: 0px;
    
  }
  .header{
    position: absolute;
    top: 5px;
  left: 45%;
   text-align: center;
  }
  .closebtn{
    position: absolute;
    left: 94%;
    top: -2px;
    font-size: large;
  }
  .button2 {
    margin-top: 1.5%;
   margin-left: 2%;
   background-color: white;
   color: black;
   border: 2px solid rgba(26, 74, 96, 0.8999999761581421);
   border-radius: 5px;
   width: 80px;
   height: 25px; /* Increase the height as needed */
 }
 .drag {
    width: 96%;
    height: 150px;
    margin-top: 10px;
    margin-left: 2%;
    border: 2px dashed #999;
    text-align: center;
    padding: 20px;
    background-color: white;
    cursor: pointer;
  }
  
  .drag p {
    margin: 0;
  }
  