<!-- <ion-content class="custom-modal">

<ion-header>
  <ion-toolbar>
    <ion-title>
      My Modal
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>This is the content of my modal.</p>
  <ion-button (click)="dismiss()">Close Modal</ion-button>
</ion-content>
</ion-content> -->
<ion-row>
  <ion-col size="6"> <!-- This will take up 6 out of 12 available columns (50% width) -->
     Content for the first column 
  </ion-col>
  <ion-col size="6"> <!-- This will also take up 6 out of 12 available columns (50% width) -->
     Content for the second column 
  </ion-col>
</ion-row>