<ion-content>
  <ion-card>
    <div class="split-container form_responsive">
      <div class="top-part">
       <h1 class="text-white" >Estimation Tool</h1>
      </div>
      <div class="right-part">
        <ng-container *ngIf="resetPassword; else resetPasswordWithUserValue ">
          <h1 class="text-center">Forgot Password</h1>
          <div class="input-box" > 
            <form  [formGroup]="resetForm" (ngSubmit)="forgotPassword()">
                <ion-item class="input">
                <ion-input formControlName="newPassword"
                 name="newPassword"  placeholder="New Password"></ion-input>
              </ion-item>
              <div class="text-danger ml-3" *ngIf="resetForm.controls['newPassword'].errors?.['required'] && submitted">
               Password is required.
              </div>
              <ion-item class="input">
                <ion-input type="password" formControlName="confirmPassword"
                 name="confirmPassword"  placeholder="confirmPassword"></ion-input>
              </ion-item>
              <div class="text-danger ml-3" *ngIf="resetForm.controls['confirmPassword'].errors?.['required'] && submitted">
              Confirm Password is required.
              </div>
              <div class="text-danger" *ngIf="confirmPassword">
                Password and ConfirmPassword is not match.
              </div>
               <button type="submit" class="button2 ml-10">Reset password</button>
              </form>
            </div>
        </ng-container>
        <ng-template #resetPasswordWithUserValue>
          <h1 class="text-center">Reset Password</h1>
          <div class="input-box">
            <form [formGroup]="userValueForm" (ngSubmit)="resetPasswordUserValue()">
        
              <ion-item class="input">
                <ion-input type="password" formControlName="oldPassword" name="oldPassword" placeholder="Old Password"></ion-input>
              </ion-item>
              <div class="text-danger ml-3" *ngIf="userValueForm.get('oldPassword')?.hasError('required') && submitted">
                Old Password is required.
              </div>
              <div class="text-danger ml-3" *ngIf="userValueForm.get('oldPassword')?.hasError('pattern') && submitted">
                Old Password must contain at least one letter, one digit.
              </div>
        
              <ion-item class="input">
                <ion-input type="password" formControlName="newPassword" name="newPassword" placeholder="New Password"></ion-input>
              </ion-item>
              <div class="text-danger ml-3" *ngIf="userValueForm.get('newPassword')?.hasError('required') && submitted">
                New Password is required.
              </div>
              <div class="text-danger ml-3" *ngIf="userValueForm.get('newPassword')?.hasError('pattern') && submitted">
                New Password must contain at least one letter, one digit.
              </div>
        
              <ion-item class="input">
                <ion-input type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password"></ion-input>
              </ion-item>
              <div class="text-danger ml-3" *ngIf="userValueForm.get('confirmPassword')?.hasError('required') && submitted">
                Confirm Password is required.
              </div>
              <div class="text-danger ml-3" *ngIf="userValueForm.get('confirmPassword')?.hasError('pattern') && submitted">
                Confirm Password must contain at least one letter, one digit.
              </div>
              <div class="text-danger" *ngIf="confirmPasswordUserValue">
                New Password and Confirm Password do not match.
              </div>
        
              <button type="submit" class="button2 ml-10">Reset Password</button>
            </form>
          </div>
        </ng-template>
        

      </div>
    </div>
  </ion-card>
</ion-content>

