<ion-content>
  <ion-card>
    <div class="split-container form_responsive">
      <div class="top-part">
        <h1 class="text-white">Estimation Tool</h1>
      </div>
      <div class="right-part">
        <ng-container *ngIf="resetPassword; else resetPasswordWithUserValue ">
          <h1 class="text-center">Forgot Password</h1>
          <div class="input-box">
            <form [formGroup]="resetForm" (ngSubmit)="forgotPassword()">
              <ion-item class="input">
                <ion-input  (ionFocus)="showEyeIcon = true" (ionBlur)="showEyeIcon = false" [type]="showPassword ? 'text' : 'password'"  formControlName="newPassword" name="newPassword" placeholder="New Password" minlength="4" maxlength="15"></ion-input>
                <a class="type-toggle">
                  <ion-icon class="show-option" *ngIf="!showPassword && showEyeIcon" name="eye-off-outline"
                    (click)="toggleShowPassword()"></ion-icon>
                  <ion-icon class="hide-option" *ngIf="showPassword && showEyeIcon" name="eye-outline"
                    (click)="toggleShowPassword()"></ion-icon>
                </a>
              </ion-item>
              <div class="text-danger ml-3" *ngIf="resetForm.controls['newPassword'].errors?.['required'] && submitted">
                Password is required.
              </div>
              <div class="text-danger ml-3"
              *ngIf="resetForm.controls['newPassword'].hasError('minlength') && submitted">
              New password must be at least 4 characters long.
            </div>
            <div class="text-danger ml-3"
              *ngIf="resetForm.get('newPassword')?.hasError('pattern') && submitted && !resetForm.controls['newPassword'].hasError('minlength')">
              Password must be a combination of alphabets, numbers, and special characters.
            </div>
              <ion-item class="input">
                <ion-input (ionFocus)="showConfirmEyeIcon = true" (ionBlur)="showConfirmEyeIcon = false" [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" name="confirmPassword"
                  placeholder="confirmPassword"></ion-input>
                <a class="type-toggle">
                  <ion-icon class="show-option" *ngIf="!showConfirmPassword && showConfirmEyeIcon" name="eye-off-outline"
                    (click)="toggleShowConfirmPassword()"></ion-icon>
                  <ion-icon class="hide-option" *ngIf="showConfirmPassword && showConfirmEyeIcon" name="eye-outline"
                    (click)="toggleShowConfirmPassword()"></ion-icon>
                </a>
              </ion-item>
              <div class="text-danger ml-3"
                *ngIf="resetForm.controls['confirmPassword'].errors?.['required'] && submitted">
                Confirm Password is required.
              </div>
              <div class="text-danger" *ngIf="confirmPassword">
                Password and ConfirmPassword is not match.
              </div>
              <button type="submit" class="button2 ml-10">Reset password</button>
            </form>
          </div>
        </ng-container>
        <ng-template #resetPasswordWithUserValue>
          <h1 class="text-center">Reset Password</h1>
          <div class="scrollable-container">
            <div class="input-box" style="max-height: 350px; overflow-y: auto; overflow-x: hidden;">
              <form [formGroup]="userValueForm" (ngSubmit)="resetPasswordUserValue()">
                <ion-item class="input">
                  <ion-input type="password" formControlName="oldPassword" name="oldPassword" minlength="4"
                    maxlength="15" placeholder="Old Password"></ion-input>
                </ion-item>
                <div class="text-danger ml-3"
                  *ngIf="userValueForm.get('oldPassword')?.hasError('required') && submitted">
                  Old Password is required.
                </div>
                <div class="text-danger"
                  *ngIf="userValueForm.controls['oldPassword'].hasError('minlength') && submitted">
                  Password must be at least 4 characters long.
                </div>
                <ion-item class="input">
                  <ion-input (ionFocus)="showEyeIcon = true" (ionBlur)="showEyeIcon = false" [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" minlength="4" maxlength="15"
                    name="newPassword" placeholder="New Password"></ion-input>
                  <a class="type-toggle">
                    <ion-icon class="show-option" *ngIf="!showPassword && showEyeIcon" name="eye-off-outline"
                      (click)="toggleShowPassword()"></ion-icon>
                    <ion-icon class="hide-option" *ngIf="showPassword && showEyeIcon" name="eye-outline"
                      (click)="toggleShowPassword()"></ion-icon>
                  </a>
                </ion-item>
                <div class="text-danger ml-3"
                  *ngIf="userValueForm.get('newPassword')?.hasError('required') && submitted">
                  New Password is required.
                </div>
                <div class="text-danger ml-3"
                  *ngIf="userValueForm.controls['newPassword'].hasError('minlength') && submitted">
                  New password must be at least 4 characters long.
                </div>
                <div class="text-danger ml-3"
                  *ngIf="userValueForm.get('newPassword')?.hasError('pattern') && submitted && !userValueForm.controls['newPassword'].hasError('minlength')">
                  Password must be a combination of alphabets, numbers, and special characters.
                </div>

                <ion-item class="input">
                  <ion-input (ionFocus)="showConfirmEyeIcon = true" (ionBlur)="showConfirmEyeIcon = false" [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" minlength="4" maxlength="15"
                    name="confirmPassword" placeholder="Confirm Password"></ion-input>
                  <a class="type-toggle">
                    <ion-icon class="show-option" *ngIf="!showConfirmPassword && showConfirmEyeIcon" name="eye-off-outline"
                      (click)="toggleShowConfirmPassword()"></ion-icon>
                    <ion-icon class="hide-option" *ngIf="showConfirmPassword && showConfirmEyeIcon" name="eye-outline"
                      (click)="toggleShowConfirmPassword()"></ion-icon>
                  </a>
                </ion-item>
                <div class="text-danger ml-3"
                  *ngIf="userValueForm.get('confirmPassword')?.hasError('required') && submitted  && !confirmPasswordUserValue">
                  Confirm Password is required.
                </div>
                <div class="text-danger ml-3" *ngIf="confirmPasswordUserValue">
                  Password not matched.
                </div>

                <button type="submit" class="button2 ml-10">Reset Password</button>
              </form>
            </div>
          </div>
        </ng-template>



      </div>
    </div>
  </ion-card>
</ion-content>