ion-header {
    background-color: rgba(26, 74, 96, 0.9);
    height: 7%;
    color: white;
    display: flex;
  }
  ion-sub-header{
    background-color: rgba(26, 74, 96, 0.9);
  }
  .header-tabs {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
 .menu{
  color: white;
  font-size:x-large;
 }
 .homeicon{
  color: white;
  font-size: x-large;
  margin-left: 10px;
  margin-top: -5px;
 }
 .menubutton{
  margin-right: -5px;
  
  margin-top: 2%;
 }
 .button2 {
   margin-top: -1.5%;
  margin-left: 20px;
  background-color: white;
  color: black;
  border: 2px solid rgba(26, 74, 96, 0.8999999761581421);
  border-radius: 5px;
  width: 100px;
  height: 30px; /* Increase the height as needed */
}
.syncbtn {
 text-align: center;
 margin-top: 1.3%;
  margin-left: 20px;
 background-color: white;
 color: black;
 border: 2px solid rgba(26, 74, 96, 0.8999999761581421);
 border-radius: 5px;
 width: 80px;
 height: 30px;
 font-size: small ; /* Increase the height as needed */
}

// ion-menu{
//   --width: 200px;
// }
.maincontent{
  width: 90%;
  height: 100%;
}
.popupheader{
  background-color: rgba(26, 74, 96, 0.9);
  height: 7%;
  color: white;
  display: flex;
}
/* Add this CSS to your component's CSS or global styles */




ion-footer{
  background-color: rgba(26, 74, 96, 0.9);
  //height: 7%;
  color: white;
  display: flex;
}
.split-container {
  display: flex;
  flex-direction: row;
  height: 100%; /* Set a fixed or relative height for the container */
  border-radius: 0px;
  //width: 100%;
}

.top-part {
  flex: 0.3;
  /* Adjust styling for the top part as needed */
text-align: center;
border-right: 1px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.right-part {
  flex: 1.6;
  align-items: center;

  
  /* Adjust styling for the bottom part as needed */
 
}
.innerbox{
  width: 98%;
  height: 96%;
  margin-left: 1%;
  margin-top: 1%;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.3);
}
.contentlist{
  width: 100%;
  height: 430px;
  overflow-y: auto; 
}
/* Dropdown Button */
.dropbtn {
 // background-color: #3498DB;
  //color: white;
  //padding: 16px;
  margin-top: 2%;
  //font-size: 16px;
  margin-right: 22px;
  border: none;
  cursor: pointer;
  background-color: rgba(26, 74, 96, 0.9);

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.profileicon{
  color: white;
  margin-right: 7px;
}
ion-col {
  background-color: #8f9594;
  border: solid 1px #fff;
  color: #fff;
  --text-align: center;
  margin: 10px;
}
.bodycontent{
  width: 30%;
  cursor: pointer;
 
  //cursor: pointer;
  //overflow-y: auto;
  
}
.subheader{
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.2);
  height: 11%;
  
}
pagination-controls {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  right: 10px; /* Adjust the distance from the right as needed */
}
.searchbar-input.sc-ion-searchbar-md{
  height: 20px;
}
/* Scoped components require higher specificity to customize */
ion-searchbar.custom {
  --background: #19422d;
  --color: #fff;
  --placeholder-color: #fff;
  --icon-color: #fff;
  --clear-button-color: #fff;
--width: 100px !important;
--hight:10px;
  --border-radius: 4px;
}
.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: left;
  width: 75px;
  height: 75px;
  top: -62px;
  //right: -45px;
  margin-left: -11px;
}






  