<ion-app (mouseenter)="onMouseEnterDialog()"(mouseleave)="onMouseLeaveDialog()" >
  <!-- (mouseleave)="onMouseLeaveDialog()" -->
  <div class="convas " *ngIf="labels.length !==0">
    <div class="main-div">
      <div class="convas-div">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="barChartLegend" chartType="barChartType">
        </canvas>

      </div>
      <div style="width: 100%;">

        <table class="table-data">
          <tr>
            <td style="border: none;"> Sprints </td>
            <td class="tableheader" *ngFor="
            let item of barChartLabels
             
              | paginate
                : { itemsPerPage: pageFilterDefault, currentPage: p };
            let i = index
          ">{{item}}</td>
          </tr>
          <tr>
            <td class="label">Over Estimate</td>
            <td *ngFor="let items of overEstimate">{{items}}</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="label">Total planned</td>
            <td *ngFor="let items of totalPlanned">{{items}}</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="label">Not_started</td>
            <td *ngFor="let items of notStartedTask">{{items}}</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="label">Total Scope</td>
            <td *ngFor="let items of scopeForSprint">{{items}}</td>
           
          </tr>
          <tr>
            <td class="label">Velocity</td>
            <td *ngFor="let items of sumOfVelocity">{{items}}</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="label">Completed</td>
            <td *ngFor="let items of completedTask">{{items}}</td>
            <td>0</td>
          </tr>
        </table>

      </div>
      <!-- <div class="table-data">
<table  >
  <tr>
    <td>Total Estimate (3-Point)</td>
    <td>6</td>
    <td></td>
  </tr>
  <tr>
    <td>Actual To Date</td>
    <td>5</td>
    <td></td>
  </tr>
  <tr>
    <td>Remaining</td>
<td style="display: flex;">7
      <mat-icon style="font-size: 17px; color: green; height: 17px; margin-left: 10px;margin-top: 1px;" >
      check_circle
 </mat-icon> 
</td>
    <td></td>
  </tr>
  <tr>
    <td>AI Estimate</td>
    <td>6</td>
    <td></td>
  </tr>
  <tr>
    <td>Average Velocity/Day</td>
    <td></td>
    <td>4</td>
  </tr>
  <tr>
    <td>Average Risk Factor</td>
    <td></td>
    <td>3</td>
  </tr>
</table>
</div> -->
    </div>
    <!-- *ngIf="pagination.length>10" -->
    <pagination-controls class=" pagination " (pageChange)="p = $event"></pagination-controls>
  </div>
</ion-app>