.f16 {
  font-size: 16px !important;
}
ion-header {
  background-color: rgba(26, 74, 96, 0.9);
  height: 7%;
  color: white;
  display: flex;
}
ion-sub-header {
  background-color: rgba(26, 74, 96, 0.9);
}
.header-tabs {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu {
  color: white;
  font-size: x-large;
}

.homeicon {
  color: white;
  font-size: x-large;
  margin-left: 10px;
  margin-top: -5px;
}

.button2 {
  margin-top: -1.5%;
  margin-left: 20px;
  background-color: white;
  color: rgba(26, 74, 96, 0.8999999761581421);
  border: 2px solid rgba(26, 74, 96, 0.8999999761581421);
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
}

.syncbtn {
  text-align: center;
  background-color: white;
  color: rgba(26, 74, 96, 0.9) !important;
  border: 2px solid rgba(26, 74, 96, 0.8999999761581421);
  border-radius: 5px;
  width: 80px;
  height: 31px;
  font-size: 13px;
}
.maincontent {
  width: 90%;
  height: 100%;
}

.popupheader {
  background-color: rgba(26, 74, 96, 0.9);
  height: 7%;
  color: white;
  display: flex;
}
ion-footer {
  background-color: rgba(26, 74, 96, 0.9);
  color: white;
  display: flex;
}

.split-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  border-radius: 0px;
}

.top-part {
  flex: 0.3;
  text-align: center;
  border-right: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.right-part {
  flex: 1.6;
  align-items: center;
}

.innerbox {
  width: 99%;
  height: 99%;
  margin-left: 5px;
  margin-top: 3px;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.3);
}

.contentlist {
  width: 100%;
  height: 340px;
  overflow-y: auto;
}
.dropbtn {
  margin-top: 2%;
  margin-right: 22px;
  border: none;
  cursor: pointer;
  background-color: rgba(26, 74, 96, 0.9);
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}

.profileicon {
  color: white;
  margin-right: 7px;
}

ion-col {
  background-color: #8f9594;
  border: solid 1px #fff;
  color: #fff;
  --text-align: center;
  margin: 10px;
}

.bodycontent {
  width: 30%;
  cursor: pointer;
}

.subheader {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

pagination-controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.search-icon {
  position: relative;
  float: left;
  width: 75px;
  height: 75px;
  top: -62px;
  margin-left: -11px;
}

.add_clint_btn {
  max-width: 100%;
  width: 11%;
}

.add_clint {
  width: 80%;
  max-width: 100%;
  text-align: center;
}

select.client_select {
  color: black;
  border: 2px solid rgba(26, 74, 96, 0.8999999762);
  border-radius: 5px;
  width: 145px;
  height: 30px;
  font-size: 13px;
  margin-right: 10px;
}

.data_count {
  display: flex;
  justify-content: space-between;
}

.data_count ion-col {
  background-color: #fff;
}

.show_count,
.search_txt {
  color: #000;
}

p.show_txt {
  position: relative;
  top: 10px;
}

.show_count select {
  color: black;
  border: 2px solid rgba(26, 74, 96, 0.8999999762);
  border-radius: 5px;
  width: 145px;
  height: 30px;
  font-size: small;
}

.card-header {
  padding-top: 19px;
  padding-bottom: 19px;
}

.card-header:hover {
  color: #2980b9;
}

.label_dropdown {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  margin-right: 8px;
}

.search_label {
  margin-left: 15px;
  font-size: 16px;
  text-align: end;
  margin-left: 48%;
  margin-top: 10px;
}

.search-input {
  width: 150px;
  height: 30px;
  margin-top: 8px;
  margin-left: 4px;
  border: 2px solid rgba(26, 74, 96, 0.8999999762);
  border-radius: 5px;
  font-size: 12px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.sync-icon {
  margin-bottom: -3px;
}

.gray-bg {
  background-color: #f0f0f0;
}

.white-bg {
  background-color: #ffffff;
}

ion-card:hover {
  border: 1px solid #2980b9;
  font-weight: bold;
}

.projectlist-row {
  margin-top: 15px;
  margin-left: 40px;
  overflow-x: auto;
}

.projectlist-col {
  margin: 0px;
  height: 60px;
  padding: 0px;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

.projectlist-card {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.card-content {
  margin-top: 5px;
}
