<!-- <ion-header >
  <ion-menu-toggle>
    <ion-button class="menubutton" fill="clear"><span class="menu">&#9776;</span></ion-button>
  </ion-menu-toggle>
  <ion-button fill="clear"><ion-icon class="homeicon" name="home-sharp"></ion-icon></ion-button>
  <ion-title>Estimation Tool</ion-title>
  
</ion-header>
  <ion-content>
    <ion-menu [type]="menuType" content-id="main-content" >
      <ion-content class="ion-padding">
       <div>
        <h1>side menu</h1>
       </div>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
     
      <ion-content class="ion-padding">
     <div class="maincontent">
    
        <ion-toolbar>
          <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
          <button expand="block" (click)="setOpen(true)"  class="button2">Add Client</button>
        </ion-toolbar>
      <ion-button (click)="openModal()">Open Modal</ion-button>

        <hr style="border-color: black;">

     </div>

      </ion-content>
    </div>
  </ion-content>
  <ion-modal :css-class="[cssClass, 'auto-height']" [isOpen]="isModalOpen" [backdropDismiss]="false">
    <ng-template class="model">
      <ion-header class="popupheader">
          <ion-title style="text-align: center;font-size: medium;">Add Client</ion-title>
          <ion-buttons style="text-align: right;" >
            <ion-button (click)="setOpen(false)"><span>&#10006;</span></ion-button>
          </ion-buttons>
      </ion-header>
      <ion-content class="ion-padding custom-modal-content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal> -->

<ion-app>
  <ion-header>
    <ion-menu-toggle>
      <ion-button class="menubutton" fill="clear"><span class="menu">&#9776;</span></ion-button>
    </ion-menu-toggle>
    <ion-button fill="clear"><ion-icon class="homeicon" name="home-sharp"></ion-icon></ion-button>
    <ion-title>Estimation Tool</ion-title>
    <!-- <ion-button fill="clear">
        <ion-icon class="profileicon" name="person"></ion-icon>
      </ion-button> -->
    <div class="dropdown">
      <ion-buttons>
        <ion-button style="color: white; margin-right: 10px; margin-top: 2%" (click)="toggleDropdown()" fill="clear">
          <ion-icon style="margin-right: 10px" name="person-circle-outline"></ion-icon>Admin
          <ion-icon style="margin-left: 5px" name="chevron-down-outline"></ion-icon></ion-button>
      </ion-buttons>
      <div class="dropdown-content" [ngClass]="{ show: isDropdownOpen }">
        <a href="/">Logout</a>
      </div>
    </div>
  </ion-header>
  <ion-content style="overflow-x: hidden;" >
    <ion-row style="height: 100%;"   >
      <ion-col   size="2" style="margin: 0px; background-color: white;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);height: 100%;">
        <ion-row style="
            display: flex;
            justify-content: center;
            margin-top: 10px;
            text-align: left;
          ">
          <ion-col style="background-color: white; color: black">
            <img src="/assets/images/Dashboard.png" alt="Your Image" style="margin-bottom: -6px; margin-right: 10px" />
            Dashboard
          </ion-col>
        </ion-row>
        <ion-row style="
            display: flex;
            justify-content: center;
            margin-top: -10px;
            text-align: left;
          "    >
          <ion-col style="background-color: white; color: black">
            <img src="/assets/images/journals (1).png" alt="Your Image"
              style="margin-bottom: -6px; margin-right: 10px; fill: #a1a1a1" />
            Projects
          </ion-col>
        </ion-row>
        <ion-row style="
            display: flex;
            justify-content: center;
            margin-top: -10px;
            text-align: left;
          ">
          <ion-col style="background-color: white; color: black">
            <img src="/assets/images/Vector.png" alt="Your Image" style="margin-bottom: -6px; margin-right: 10px" />
            User
          </ion-col>
        </ion-row>
        <ion-row style="
            display: flex;
            justify-content: center;
            margin-top: -10px;
            text-align: left;
          ">
          <ion-col style="background-color: white; color: black">
            <img src="/assets/images/Vector (1).png" alt="Your Image" style="margin-bottom: -6px; margin-right: 10px" />
            Report
          </ion-col>
        </ion-row>
        <ion-row style="
            display: flex;
            justify-content: center;
            margin-top: -10px;
            text-align: left;
          ">
          <ion-col style="background-color: white; color: black">
            <img src="/assets/images/Settings.png" alt="Your Image" style="margin-bottom: -6px; margin-right: 10px" />
            Setting
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="10"  style="margin: 0px; height: 100%; color: black; background-color: white;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);" >
        <div class="innerbox">
          <ion-row class="subheader">
            <ion-buttons>
              <button expand="block" (click)="openModal()" class="button2">
                Add Client
              </button>

              <p style="margin-left: 280px">Client</p>
              <select style="margin-left: 10px; width: 150px" [(ngModel)]="selectedValue">
                <option>Select</option>
                <option *ngFor="let item of dataList" [value]="item.code">
                  {{ item.name }}
                </option>
              </select>
            </ion-buttons>
            <button  class="syncbtn">
              Sync
              <ion-icon style="margin-left: 5px; margin-bottom: -1.7px" name="sync-outline"></ion-icon>
            </button>
          </ion-row>
          <ion-row style="height: 35px;">
            <p style="margin-left: 15px; font-size: small">Show</p>
            <select (change)="optionSelected()" style="
                margin-left: 10px;
                width: 70px;
                height: 20px;
                margin-top: 10px;
              " [(ngModel)]="pageFilterDefault">
              <option *ngFor="let item of pageFilter" [value]="item.code">
                {{ item.name }}
              </option>
            </select>
            <p style="
                margin-left: 15px;
                font-size: small;
                text-align: end;
                margin-left: 52%;
                margin-top: 20px;
              ">
              Search:
            </p>
          
            <ion-searchbar [(ngModel)]="searchText" style="width: 300px"></ion-searchbar>
          </ion-row>
         <span style="margin-left: 45%; margin-bottom: 10px; color: rgba(26, 74, 96, 0.9);"><b>Projects({{projectNamesWithId.length}})</b></span>
          <div class="contentlist">
            <ion-grid [fixed]="true">
              <ion-row style="
                  margin-left: 8%;
                  height: 10%;
                  overflow-x: auto;
                  white-space: nowrap;
                ">
                <ng-container *ngFor="
                    let item of projectNamesWithId |  filter :searchText | paginate: { itemsPerPage: pageFilterDefault, currentPage: p }  ">
                  <app-dashboard-body class="bodycontent">
                    <div class="card-header">{{ item.name }}</div>
                    <!-- Additional card content here -->
                  </app-dashboard-body>
                </ng-container>
              </ion-row>
            </ion-grid>
            
          </div>
          <pagination-controls style="font-size: small; " (pageChange)="p = $event"></pagination-controls>
        </div>
      </ion-col>
    </ion-row>
    <ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false">
      <ng-template class="model">
        <ion-header class="popupheader">
          <ion-title style="text-align: center; font-size: medium">Add Client</ion-title>
          <ion-buttons style="text-align: right">
            <ion-button (click)="setOpen(false)"><span>&#10006;</span></ion-button>
          </ion-buttons>
        </ion-header>
        <ion-content class="ion-padding custom-modal-content" style="height: 70vh;">
          <!-- Adjust the width and height as per your requirements -->
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum
            quidem recusandae ducimus quos reprehenderit. Veniam, molestias
            quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui.
            Eaque, dicta.
          </p>
        </ion-content>
    
      </ng-template>
    </ion-modal>
  </ion-content>

  <ion-footer>
    <ion-title style="text-align: end; font-size: medium">Copyright Text</ion-title>
  </ion-footer>
</ion-app>