<ion-app>
  
  <ion-content style="overflow-x: hidden">
    <ion-row style="height: 100%">
     
      <ion-col
     
       class="main-col"
      >
        <div class="innerbox">
          <ion-row class="subheader">
            <ion-buttons class="add_clint_btn">
              <button expand="block" (click)="openDialog()" class="button2">
                Add Client
              </button>
            </ion-buttons>
            <div class="add_clint">
              <select
                (change)="getProjectByselectedClient()"
                [(ngModel)]="clientId"
                class="client_select"
              >
                <ng-container
                  *ngIf="clientList.length === 0; else clientOptions"
                >
                  <option *ngIf="clientList.length === 0" value="undefined" disabled selected>
                    No Client Available
                  </option>
                  <option  value="0000" selected>
                    No Client 
                  </option>
                </ng-container>
                <ng-template #clientOptions>
                  <option *ngFor="let item of clientList" [value]="item.id">
                    {{ item.clientName }}
                  </option>
                  <option value="0000" selected>
                    No Client  
                  </option>
                </ng-template>
              </select>
              <button class="syncbtn" (click)="syncData()">
                Sync
                <ion-icon name="sync-outline"></ion-icon>
              </button>
            </div>
          </ion-row>
          <ion-row class="data_count">
            <ion-col class="show_count d-flex">
              <p class="show_txt" style="margin-left: 15px; font-size: small">
                Show
              </p>
              <select
                style="
                  margin-left: 10px;
                  width: 70px;
                  height: 20px;
                  margin-top: 10px;
                "
                [(ngModel)]="pageFilterDefault"
              >
                <option *ngFor="let item of pageFilter" [value]="item.code">
                  {{ item.name }}
                </option>
              </select>
              <span>
                <p style="margin-top: 11px; margin-left: 5px; font-size: 13px">
                  entries
                </p>
              </span>
            </ion-col>

            <ion-col
              class="search_txt d-flex"
              style="justify-content: end; padding-right: 14px"
            >
              <p
                style="
                  margin-left: 15px;
                  font-size: small;
                  text-align: end;
                  margin-top: 10px;
                "
              >
                Search:
              </p>
              <input
                style="
                  width: 150px;
                  height: 23px;
                  margin-top: 8px;
                  margin-left: 4px;
                  border: 2px solid rgba(26, 74, 96, 0.8999999762);
                  border-radius: 5px;
                  font-size: 12px;
                  font-family: Roboto;
                  font-size: 12px;
                  font-weight: 200;
                  line-height: 20px;
                  letter-spacing: 0px;
                  text-align: left;
                "
                [(ngModel)]="searchText"
                type="text"
                placeholder="project id, project name"
              />
            </ion-col>
          </ion-row>
          <span
            style="
              margin-left: 46%;
              margin-bottom: 10px;
              color: rgba(26, 74, 96, 0.9);
            "
            ><b>Projects({{ projectList.length }})</b></span
          >
          <div class="contentlist">
            <ion-grid [fixed]="true">
              <ion-row class="projectlist-row">
                <ng-container
                  *ngFor="
                    let item of projectList
                      | filter : searchText
                      | paginate
                        : { itemsPerPage: pageFilterDefault, currentPage: p };
                    let i = index
                  "
                >
                  <ion-col
                   
                    class="projectlist-col"
                    size="3.7"
                  >
                    <ion-card
                      [ngClass]="{
                        'gray-bg': i % 6 < 3,
                        'white-bg': i % 6 >= 3
                      }"
                      class="projectlist-card"
                    >
                     
                    <ion-card-content class="card-content" >
                      <span>
                        <mat-icon class="mat-icon-hover"  (click)="downloadProject(item)">save_alt</mat-icon>
                      </span>
                      <div  (click)="getSprints(item)" class="projectname">
                        {{ item.projectName }}
                      </div>
                      <mat-icon (mouseover)="openGraphPopup($event, item)" [ngClass]="getIconColor(item.sumOfOriginalEstimate, item.sumOfAiEstimate)">
                        {{ getIconColor(item.sumOfOriginalEstimate, item.sumOfAiEstimate) === 'error' ? 'error' :
                           getIconColor(item.sumOfOriginalEstimate, item.sumOfAiEstimate) === 'warning' ? 'warning' :
                           'check_circle' }}
                      </mat-icon>
                    </ion-card-content>
                    
                      
                    </ion-card>
                  </ion-col>
                </ng-container>
              </ion-row>
              <div
                style="text-align: center; margin-top: 10%;"
                *ngIf="this.projectList.length === 0 && showDiv"
              >
                <h2>There Are No Projects.</h2>
              </div>
            </ion-grid>
          </div>
          <pagination-controls
          class="pagination"
            
            (pageChange)="p = $event"
          ></pagination-controls>
        </div>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>
