<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card>
        <div class="split-container">
          <div class="top-part">
            <h1 class="text-white">Estimation Tool</h1>
          </div>
          <div class="right-part">
            <h1 class="text-center">Sign Up</h1>
            <h3 class="text-left ml-5">Create Account</h3>
            <form class="input-box" [formGroup]="signUpForm" (ngSubmit)="signUp()">
              <ion-item>
                <ion-input formControlName="userName" minlength="4" maxlength="15" name="userName"
                  placeholder="Username"></ion-input>
                <span class="asterisk_required_field"></span>
              </ion-item>
              <div class="text-danger" *ngIf="signUpForm.controls['userName'].errors?.['required'] && submitted">
                Username is required.
              </div>
              <div class="text-danger" *ngIf="signUpForm.controls['userName'].hasError('minlength') && submitted">
                Username must be at least 4 characters long.
              </div>
              <ion-item class="input">
                <ion-input name="email" formControlName="email" required email placeholder="Email"></ion-input>
                <span class="asterisk_required_field"></span>
              </ion-item>
              <div class="text-danger" *ngIf="signUpForm.controls['email'].errors?.['required'] && submitted">
                Email is required.
              </div>
              <div class="text-danger" *ngIf="signUpForm.controls['email'].errors?.['email'] && submitted">
                Please enter a valid email.
              </div>
              <ion-item>
                <ion-input [type]="showPassword ? 'text' : 'password'" minlength="4" maxlength="15" name="password" formControlName="password"
                  required placeholder="Password" (ionFocus)="showEyeIcon = true" (ionBlur)="showEyeIcon = false" ></ion-input>
                  <a class="type-toggle">
                    <ion-icon class="show-option" *ngIf="!showPassword && showEyeIcon " name="eye-off-outline" (click)="toggleShowPassword()"></ion-icon>
                    <ion-icon class="hide-option" *ngIf="showPassword && showEyeIcon " name="eye-outline" (click)="toggleShowPassword()"></ion-icon>
                  </a>
                <span class="asterisk_required_field"></span>
              </ion-item>
              <div class="text-danger" *ngIf="signUpForm.controls['password'].errors?.['required'] && submitted">
                Password is required.
              </div>
              <div class="text-danger" *ngIf="signUpForm.controls['password'].hasError('pattern') && submitted && !signUpForm.controls['password'].hasError('minlength')">
                Password must be a combination of alphabets, numbers, and special characters.
              </div>
              <div class="text-danger" *ngIf="signUpForm.controls['password'].hasError('minlength') && submitted">
                Password must be at least 4 characters long.
              </div>
              
              <ion-item >
                <ion-input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" name="confirmPassword" minlength="4" maxlength="15" type="password" required
                  placeholder="Confirm Password" (ionFocus)="showConfirmEyeIcon = true" (ionBlur)="showConfirmEyeIcon = false" ></ion-input>
                  <a class="type-toggle">
                    <ion-icon class="show-option" *ngIf="!showConfirmPassword && showConfirmEyeIcon " name="eye-off-outline" (click)="toggleShowConfirmPassword()"></ion-icon>
                    <ion-icon class="hide-option" *ngIf="showConfirmPassword && showConfirmEyeIcon" name="eye-outline" (click)="toggleShowConfirmPassword()"></ion-icon>
                  </a>
                <span class="asterisk_required_field"></span>
              </ion-item>
              <div class="text-danger" *ngIf="signUpForm.controls['confirmPassword'].errors?.['required'] && submitted">
                Confirm password is required.
              </div>
              <div class="text-danger ml-3" *ngIf="signUpForm.get('confirmPassword')?.hasError('passwordMismatch') && signUpForm.get('confirmPassword')?.touched">
                Password not matched.
              </div>
              <button class="ml-10" type="submit" class="button2">Create Account</button>
            </form>
            <p class="signup text-left ml-5">Already have an account? <a routerLink="/">Login</a></p>
          </div>
        </div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>