.closebtn {
    position: absolute;
    left: 95.5%;
    top: 1px;
  }

  .convas{
    height: 100%;
    width: 100%;
    padding: 10px;
    
  }
  table { 
    width: 100%;
    padding: 10px;
      border: 1px solid #D3D3D3; 
      border-collapse: collapse; 
  } 
//  .label{
//   width: 90px !important;
//  }
//  .custom-legend {
//   position: absolute;
//   bottom: 10px;
//   left: 10%;
//   transform: translateX(-50%);
//   display: block;
//   justify-content: center;
//   align-items: center;
//   background-color: white;
//   padding: 5px;
//   border-radius: 5px;
//   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
// }

// .legend-item {
//   display: flex;
//   align-items: center;
//   margin-right: 10px;
// }

// .legend-color {
//   display: inline-block;
//   width: 10px !important;
//   height: 10px !important;
//   margin-right: 5px;
//   border-radius: 50%;
// }

// .legend-label {
//   font-size: 10px ;
// }
.main-div{
  border: 1px solid #D3D3D3;
}
.convas-div{
  margin-left: 10px;
   height: 180px;width: 350px;
}
.table-data{
  width:96%  ;
  font-size: 11px  ; 
  text-align: left;
   margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 9px;
}
td{
 
  padding-left: 15px;

}
.velocity{
  display: flex; 
  justify-content: flex-end;
   margin-top: 5px;
}
.velocity-col1{
  width: 100px; 
  text-align: end; 
  padding: 2px;
}
.velocity-col2{
  width: 150px;
   padding: 2px; 
}
