/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// .test.component.scss .modal-wrapper {
//     --height: 20%;
//     top: 80%;
//     position: absolute; 
//     display: block;  
//  }

ion-toast.toast-succuss-mess {
    //opacity: 0.9;
    text-align: center;
    color: white;
    --background: var(--ion-color-success);
    margin-left: -6px;
   margin-top: 8px;
   --max-width: 63.5% !important;/* Adjust the desired maximum width */
    //height: 30px; /* Adjust the desired height */
  }

  ion-toast.toast-error-mess {
    //opacity: 0.9;
    text-align: center;
    color: white;
    --background: rgb(247, 23, 23) ;
    margin-left: -6px;
   margin-top: 8px;
   --max-width: 63.5% !important;/* Adjust the desired maximum width */
    //height: 30px; /* Adjust the desired height */
  }

  ion-toast.toast-task-mess {
    //opacity: 0.9;
    text-align: center;
    color: white;
    --background: var(--ion-color-success);
    margin-left: 100px;
   margin-top: 7.8%;
   --max-width: 63.5% !important;/* Adjust the desired maximum width */
    //height: 30px; /* Adjust the desired height */
  }
  .matdialog {
    margin-left: 1em;
    margin-top: 13em;
  
}
ion-popover {
  //--backdrop-opacity: 0.6;
  --box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.6);
  --color: white;
  --width: 450px;
    margin-left: -80px;
  --height: 225px;
}
