.custom-dialog-header {
  
   color: white;
   background-color: rgba(26, 74, 96, 0.9);

   height: 30px;
   margin-top: 0px;
   
 }
 .header{
   position: absolute;
   top: 5px;
 left: 45%;
  text-align: center;
 }
 .closebtn{
   position: absolute;
   left: 95%;
   top: -2px;
   font-size: large;
 }
 table {
   border-collapse: collapse;
   width: 100%;
 }
 
 th, td {
   text-align: left;
   height: 10px;
   padding: 2px;
   margin-left: 10px;
 }
 

 
 tr:nth-child(even) {
   background-color: #f2f2f2;
 }
 
 .table {
   margin-left: 15px;
   margin-top: 10px;
  //height: 250px;
  //  height: 250px;
 }
 
 table, th, td {
   border-collapse: collapse;
   height: 20px;
 }
 
 .input {
   height: 20px;
   width: 80%;
 }
 .clientbtnremove{
   font-size: medium;
   //position: absolute;
   //left: 89.2%;
   width: 17px;
   color: white;
   background-color: rgba(26, 74, 96, 0.9);

 
 }
 .clientbtnadd{
   
   font-size: medium;
   width: 50%;
   color: white;
   background-color: rgba(26, 74, 96, 0.9);
 }
 .addclient{
   font-size: medium;
   //position: absolute;
   margin-left: 50px;
   //left: 94.5%;
   width: 50%;
   color: white;
   background-color: rgba(26, 74, 96, 0.9);
 }
 .edit
{
      transform: scaleX(-1);
      display: inline-block;
     
 }